- model_class = Balance
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:nom)
      %th= model_class.human_attribute_name(:montant)
      %th= model_class.human_attribute_name(:fini)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @balances.each do |balance|
      %tr
        %td= link_to balance.id, balance_path(balance)
        %td= balance.nom
        %td= balance.montant
        %td= balance.fini
        %td=l balance.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_balance_path(balance), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), balance_path(balance), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_balance_path, :class => 'btn btn-primary'
= link_to "Clore la balance", clore_balance_path, :class => 'btn btn-danger', data: {confirm: "Une nouvelle balance sera créée"}
