- model_class = Balance
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:nom) + ':'
  %br
  = @balance.nom
%p
  %strong= model_class.human_attribute_name(:montant) + ':'
  %br
  = @balance.montant
%p
  %strong= model_class.human_attribute_name(:fini) + ':'
  %br
  = @balance.fini

- @model_class = Mouvement
= render 'mouvements/one_user_paiements', user: current_utilisateur, mouvements: @mouvements_main, no_action: true
.page-header
  &nbsp;
= render 'mouvements/one_user_paiements', user: @other_user, mouvements: @mouvements_second, no_action: true
