= simple_form_for @chat, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .control-group
    .controls
      = image_tag @chat.image.url if @chat.image.url
  = f.input :image
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), chats_path, :class => 'btn'
