!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Household"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") Gestion AA et CR (+ les chats)
          .container.nav-collapse
            %ul.nav
              %li= link_to "Ajout de paiements", :new_paiements
              %li= link_to "Consulter les paiements", :edit_paiements
              %li= link_to "Ajout de revenus", :new_revenus
              %li= link_to "Consulter les revenus", :edit_revenus

    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Navigation
              %li= link_to "Mouvements", mouvements_path
              %li= link_to "Balances", balances_path
              %li= link_to "Mouvements Recurrents", mouvement_recurrents_path
              %li= link_to "Type de mouvements", type_de_mouvements_path
              %li= link_to "Monnaies", monnaies_path
        .span9

          = render 'layouts/messages'
          = yield
    
      %footer
        %p &copy;  Anthony ze best developer of ze world 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
