= simple_form_for @mouvement, :html => { :class => 'form-horizontal' } do |f|
  = f.input :payeur_id
  = f.input :texte
  = f.input :montant_cents
  = f.input :type_de_mouvement_id
  = f.input :fini
  = f.input :pourcent_a_facturer_a_lautre
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), mouvements_path, :class => 'btn'
